* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(19, 19, 19), rgb(78, 76, 76));
    /* position: relative; */
    margin: 0;
    display: grid;

}

.app-container {
    grid-template-columns:
        minmax(2rem, 1fr) minmax(auto, 1257px) minmax(2rem, 1fr);

    /* height: 600px; */
    inset: 0;
    margin: auto;
}

.app-container>* {
    grid-column: 2;

}

.meme-editor {
    display: none;
    flex-direction: row;

}