.gallery-container {
    width: 100%;
    height: 566px;
    display: flex;
    flex-direction: column;
    inset: 0;
    margin: 10px auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    margin: 20px auto;
}

.img-preview {
    width: 200px;
    height: 200px;
}

.img-preview img {
    max-width: 100%;
    border-radius: 2em;
}