.tool-bar {
    background: linear-gradient(to right, #222f4b, rgb(9, 231, 231));
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    height: 75px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo img {
    position: absolute;
    height: 80%;
    inset: 0;
    margin: auto 10px;
}

.main-header {
    margin-right: 200px;
}

.gallery-btn,
.about-btn,
.memes-btn {
    width: 116px;
    height: 40px;
    color: #264485;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    background-color: rgb(253, 253, 253);
    font-weight: 500;
    border-radius: 20px;
    font-size: 1.312rem;
    margin: 18px auto;

}